.nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    
}

.nav-mobile-container {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}

.nav-mobile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-decoration: none;
}

.nav-mobile-text {

}