---
import { Icon } from "astro-icon/components";
---

<nav class="nav-mobile" aria-label="Primary navigation">
    <div class="nav-mobile-container">
        <a href="/" class="nav-mobile-link">
            <Icon name="mdi:home" />
            <div class="nav-mobile-text">Home</div>
        </a>
        <a href="/blogs" class="nav-mobile-link">
            <Icon name="mdi:blog" />
            <div class="nav-mobile-text">Blogs</div>
        </a>
        <a href="/guides" class="nav-mobile-link">
            <Icon name="mdi:teach" />
            <div class="nav-mobile-text">Guides</div>
        </a>
        <a href="/aboutus" class="nav-mobile-link">
            <Icon name="mdi:about" />
            <div class="nav-mobile-text">About</div>
        </a>
    </div>
</nav>
